<h3>  Catalogo de  Impresiones <small>en 3D</small> </h3>

<hr>

<div class="card-columns">

  <div class="card text-center animated fadeIn fast" *ngFor="let item of impresiones; let i =index">
    <img class="card-img-top img-fluid" [src]="item.img">
    <div class="card-body">
      <h5 class="card-title">{{ item.nombre}}</h5>
      <p class="card-text">{{item.descripcion}}</p>
      <p class="card-text"><small class="text-muted">{{item.precio}}</small></p>

     <button type="button" (click)="VerImpresion(i)" class="btn btn-outline-primary btn-block"> Ver más..</button>

      <!--<a [routerLink]="['/impresion',i]" class="btn btn-outline-primary" > Ver mas...</a>-->


    </div>
  </div>


</div>

